{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>
        {{title}}
    </title>
	<link type="text/css" href="{% static 'main/css/styles.css' %}" rel="stylesheet" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link rel="shortcut icon" href="{% static 'main/images/finapp.ico' %}" type="image/x-icon"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        .outline {
            border: 3px solid forestgreen;
            padding: 0 10px;
        }
    </style>
</head>
<body>
<table class="table-page" border=0 cellpadding="0" cellspacing="0">
<tr><td valign=top>
{% block mainmenu %}
		<div class="header">
			<ul id="mainmenu" class="mainmenu">
			<li class="logo"><a href="{% url 'home' %}"><div class="logo"></div></a></li>
                <span>FinnApp</span>
                <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto" >
                    <a class="me-3 py-2 text-dark text-decoration-none" href="{% url 'home' %}">Main</a>
                    <a class="me-3 py-2 text-dark text-decoration-none"
                       href="{% url 'spends_by_date' %}">Spends by date</a>
                    <a class="me-3 py-2 text-dark text-decoration-none" href="{% url 'add_spend' %}">Add spend</a>
                    <a class="me-3 py-2 text-dark text-decoration-none" href="{% url 'add_cat' %}">Add category</a>
                    <a class="me-3 py-2 text-dark text-decoration-none" href="{% url 'about' %}">About spends</a>
                </nav>
			</ul>
{% endblock mainmenu %}


<table class="table-content" border=0 cellpadding="0" cellspacing="0">
<tr>
<!-- Sidebar -->

	<td valign="top" class="left-chapters">
	<ul id="leftchapters">
{% block sidebar %}

{% endblock %}
	</ul>
</td>

<!-- End sidebar -->
<td valign="top" class="content">

<!-- Content -->
	<div class="content-text">
{% block content %}
{% endblock %}
    <a href="/">To main</a>
	</div>
<!-- End content -->

</td></tr></table>
</td></tr>
<!-- Footer -->
<tr><td valign=top>
	<div id="footer">
		<p>This app was developed by Stanislau Pshon</p>
	</div>
</td></tr></table>
<!-- End footer -->
</body>
</html>